<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Music Archive | Songs</title>
  </head>
  <body>
    <h1 class="text-center m-5">
      Songs with Tag <span th:text="${param.tag}"></span>
    </h1>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Duration</th>
            <th scope="col">Album</th>
            <th scope="col">Year</th>
            <th scope="col">Author</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="song: ${songs}">
            <th scope="row" th:text="${song.getTitle()}"></th>
<!--            formatDuration(#temporals.createDuration(0, 0, number), 'mm:ss')-->
            <td> <span  th:text=" ${song.getLength() div 60}"></span> min <span  th:text=" ${song.getLength() mod 60}"></span> sec</td>
            <td th:text="${song.getAlbum().getTitle()}"></td>
            <td th:text="${song.getAlbum().getYear() }"></td>
            <td th:text="${song.getAlbum().getAuthor() }"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- end of body -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
